FLOW3.txt
[
    {
        "id": "1afc962b.75094a",
        "type": "inject",
        "z": "fdaf43f4.c5537",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 151.25,
        "wires": [
            [
                "9cb02d56.ff7aa",
                "1bf6764f.a7846a"
            ]
        ]
    },
    {
        "id": "9cb02d56.ff7aa",
        "type": "function",
        "z": "fdaf43f4.c5537",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey: \"nUiK4kH6M9HioJJT\"\n};\n\nmsg.payload= \"Temperature,,87\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 378.75,
        "y": 153.75,
        "wires": [
            [
                "54757f9f.87b6f",
                "b71aa531.0ffc78"
            ]
        ]
    },
    {
        "id": "54757f9f.87b6f",
        "type": "http request",
        "z": "fdaf43f4.c5537",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mediatek.com/mcs/v2/devices/Dd2khgXD/datapoints.csv",
        "tls": "",
        "x": 572.5,
        "y": 157.5,
        "wires": [
            [
                "b71aa531.0ffc78",
                "45511d38.abaa64"
            ]
        ]
    },
    {
        "id": "45511d38.abaa64",
        "type": "http response",
        "z": "fdaf43f4.c5537",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 825.8928413391113,
        "y": 155.53571605682373,
        "wires": []
    },
    {
        "id": "b71aa531.0ffc78",
        "type": "debug",
        "z": "fdaf43f4.c5537",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 833.75,
        "y": 220,
        "wires": []
    },
    {
        "id": "1bf6764f.a7846a",
        "type": "function",
        "z": "fdaf43f4.c5537",
        "name": "Payload2",
        "func": "msg.headers={\n    deviceKey: \"nUiK4kH6M9HioJJT\"\n};\n\nmsg.payload= \"Humidity,,86\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 371.4285714285714,
        "y": 231.42857142857142,
        "wires": [
            [
                "54757f9f.87b6f"
            ]
        ]
    }
]
